<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pastel.dalpook">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_blackmoon"
        android:label="달꾹"
        android:roundIcon="@drawable/ic_blackmoon"
        android:supportsRtl="true"
        android:theme="@style/Theme.DalPook">

        <service android:name=".Widget.MyRemoteViewsService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <receiver android:name=".Widget.TodayWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_widget_info" />
        </receiver>

        <activity
            android:name=".Popup.DiaryDialogActivity"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.DalPook.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Utils.SelectDateActivity"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Popup.CreateDiaryActivity"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Popup.CreateWeekEventActivity"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Utils.SelectTimeActivity"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Calendar.DiaryActivity"
            android:theme="@style/Theme.DalPook.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Calendar.WorkActivity"
            android:theme="@style/Theme.DalPook.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Calendar.LessonActivity"
            android:theme="@style/Theme.DalPook.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Calendar.WeekActivity"
            android:theme="@style/Theme.DalPook.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Calendar.MonthListActivity"
            android:theme="@style/Theme.DalPook.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Utils.SelectDateAndTimeActivity"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Popup.CreateEventActivity"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Calendar.MonthActivity"
            android:theme="@style/Theme.DalPook.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.DalPook.NoActionBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>